body {
   background-color: #9CE1E8;
   margin: 0;
}

p {
  font-size: 20px;
  padding: 16px;
}

.pad{
  padding: 16px;
}

.padleft{
  padding: 0px 16px;
}

.padleftSmall{
  padding: 0px 8px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #9CE1E8;
}

.red {
  color: red;
}

.black{
  background-color: #333;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


div{
  background-color: #C0C0C0;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #333;
}

/*
li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/

/*li.header {
    /*float: left;
}*/

a.orange{
  text-decoration: none;
  color: #ff6600;
}

a.header{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
li a:hover:not(.active) {
    background-color: #111;
}*/

a:hover:not(.active).header {
    background-color: #111;
}


a.active {
    background-color: #CC0099;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mydiv{background-color: #E0E0E0; font-size: 20px;}
.mydiv h3{background-color: #BEBEBE;}
.mydiv ul{}
.mydiv ul li{}

li.logo {
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
  padding-bottom: 44px;
}

.none{
  background-color: #C0C0C0;
}


ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}

li.leaf {
background: url('/Gmail_logo.png') no-repeat left top;
}

a.test {
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
